
#titulo {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: normal;
        
}

#titulo2 {
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-size: xx-large;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

#que {
    border: 2px solid white;
    padding: 100px;
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

#pg { 
    background-image: url("/Users/saritavialundurraga/Documents/GitHub/grupo3/Fondo.jpg");
    background-size: contain;
    }

#pq {
    border: 2px solid white;
    padding: 100px;
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

#paraque {
    border: 2px solid white;
    padding:100px;
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

#region{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Source Sans Pro', sans-serif;
    top: 50px;
    left: 70px;
}

.preguntas {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    text-align: center;
}

.mapa {
    left: 5px;
}

#foto{
    display: none;
    position: fixed;
    top: 300px;
    left: 10px;
}

